/**
 * Common button mixins
 */


@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius: $btn-border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
}