<header class="header" style="background-image: url(https://s3-us-west-2.amazonaws.com/breezythemes/bridge/cover.jpg)">
  <div class="topbar container" data-topbar>
    <div class="container-inner">
      <div class="topbar__inner">
        <div class="topbar__col topbar__head clearfix">
          <div class="logo">
            <a href="{{ portal.linkback_url }}">
             <img src="{{ portal.logo_url }}" alt="">
            </a>
          </div>
            <div class="help-center-name">{{ portal.name | h }}</div>
          <div class="topbar__button">
            <button type="button" aria-label="Toggle Navigation" class="menu-button menu-button--x" data-toggle-menu>
              <span class="menu-button__lines"></span>
            </button>
          </div>
        </div>
        <div class="topbar__col topbar__menu clearfix" role="navigation" aria-label="Topbar Navigation" data-menu>
          <nav class="topbar__controls">
            {{ portal | welcome_navigation }}
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-unit container {% unless portal.current_page == 'portal_home' or portal.current_page == 'search'%}hidden{% endunless %}" data-hero-unit>
    <div class="container-inner">
      <div class="search-box search-box--without-button">
        <div class="intro-title text-center">What do you need help with?</div>
        {% snippet search_form %}
      </div>
    </div>
  </div>
</header>
