<!-- Notification Messages -->
{{ page_message }}


<div class="layout">
  {{ header }}

  <div class="container">
    <div class="container-inner clearfix">
      {{ content_for_layout }}
    </div>
  </div>

  {{ footer }}
</div>

<script type="text/javascript">
  jQuery('[data-toggle-menu]').click(function(){
    jQuery(this).toggleClass('is-active');
    jQuery('[data-menu]').toggle();
  });
</script>
