<div class="knowledge-base clearfix">
  <div class="row clearfix custom-blocks text-center" id="custom-blocks">
    <div class="column column--xs-6 column--sm-3 custom-block">
      <a href="/support/tickets">
        <div class="custom-block__image">
          <svg width="120" height="120" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
            <g fill="none">
              <circle class="custom-block__image-bg" fill="#F2F2F2" cx="60" cy="60" r="60"/>
              <path stroke="#EE9920" stroke-width="2" d="M84 47.1v41.9c0 1.1-.9 2-2 2h-43c-1.1 0-2-.9-2-2v-58c0-1.1.9-2 2-2h25.9l19.1 18.1zM84 47.9h-17c-1.1 0-2-.9-2-2v-15.9M46 46h13M46 56h31M46 63h31M46 72h31M46 78h31"/>
            </g>
          </svg>
        </div>
        <h4 class="custom-block__title">My Tickets</h4>
      </a>
    </div>

    <div class="column column--xs-6 column--sm-3 custom-block">
      <a href="#">
        <div class="custom-block__image">
          <svg width="120" height="120" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
            <g fill="none">
              <circle class="custom-block__image-bg" fill="#F2F2F2" cx="60" cy="60" r="60"/>
              <g stroke="#7BA705" stroke-width="2">
                <path d="M49.6 77l20.6-3c0-6.5 8.8-14.6 8.8-25.6 0-10.7-8.5-19.4-19-19.4s-19 8.7-19 19.4c0 10.9 8.6 19 8.6 25.5v3.1z"/>
                <path d="M51 81.3l18.8-2.9"/>
                <path d="M51 85.2l18.8-2.9"/>
                <path d="M67.3 88.1c0 1.6-3.1 2.9-7 2.9s-7-1.3-7-2.9"/>
                <path d="M57.4 69.8c0-12.4-3.5-16.8-3.5-16.8s1.4 3.1 3 3.1c1.7 0 3-1.4 3-3.1 0 1.7 1.4 3.1 3 3.1 1.7 0 3-3.1 3-3.1s-2.8 6.7-2.8 16.8"/>
              </g>
            </g>
          </svg>
        </div>
        <h4 class="custom-block__title">FAQs</h4>
      </a>
    </div>

    <div class="clearfix visible-xs"></div>

    <div class="column column--xs-6 column--sm-3 custom-block">
      <a href="{{portal.new_ticket_url}}">
        <div class="custom-block__image">
          <svg width="120" height="120" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
            <circle class="custom-block__image-bg" fill="#F2F2F2" cx="60" cy="60" r="60" />
            <path fill="none" stroke="#60B8CD" stroke-width="2" d="M25 78.789c0 1.22 1.012 2.211 2.258 2.211h65.484c1.246 0 2.258-.99 2.258-2.211v-37.579c0-1.22-1.012-2.211-2.258-2.211h-65.484c-1.246 0-2.258.99-2.258 2.211v37.579zM95 41.211c0-1.22-35 24.351-35 24.351s-35-25.297-35-24.351M93.871 79.895l-27.097-18.789M26.129 79.895l27.097-18.789" />
          </svg>
        </div>
        <h4 class="custom-block__title">Submit A Ticket</h4>
      </a>
    </div>

  {% if portal.has_forums %}
    <div class="column column--xs-6 column--sm-3 custom-block">
      <a href="{{ portal.discussions_home_url }}">
        <div class="custom-block__image">
          <svg width="120" height="120" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
            <circle class="custom-block__image-bg" fill="#F2F2F2" cx="60" cy="60" r="60"/>
            <g stroke="#d9534f" stroke-width="2" fill="none">
              <path d="M44.261 72.721c-8.5-3.6-15.261-9.921-15.261-17.221 0-11.3 13.6-20.5 30.5-20.5 16.8 0 30.7 9.2 30.7 20.5s-13.8 20.5-30.7 20.5c-.8 0-1.7 0-2.5-.1l-19.9 9.1 6-12.1"/>
              <g transform="translate(29 35) translate(19 20)">
                <circle cx="1.5" cy="1.5" r="1.5"/>
                <circle cx="12.5" cy="1.5" r="1.5"/>
                <circle cx="22.5" cy="1.5" r="1.5"/>
              </g>
            </g>
          </svg>
        </div>
        <h4 class="custom-block__title">Discussions</h4>
      </a>
    </div>
    {% endif %}
  </div>

  {% if portal.has_solutions %}
    <ul class="categories row clearfix" id="category-list">
      {% for category in portal.solution_categories %}
        {% if category.folders_count > 0 %}
          <li class="column column--sm-6 column--md-3 category-item">
            <a class="category-item__link" href="{{category.url}}">
              <h4>{{category.name}}</h4>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <div class="category-tree" id="category-tree">
      {% for category in portal.solution_categories %}
        {% if category.folders_count > 0 %}
          <section class="category">
            <h2><a href="{{category.url}}">{{category.name}}</a></h2>
            <div class="row clearfix">
              {% for folder in category.folders %}
                <section class="column column--sm-6 folder">
                  <h3 class="h4 folder__title">
                    <a class="folder__title-link" href="{{ folder.url}} ">{{ folder.name }}</a>
                  </h3>

                  {% if folder.articles_count > 0 %}
                    <ul class="articles">
                      {% for article in folder.articles limit:5 %}
                        <li class="articles__item">
                          <a class="articles__link" href="{{ article.url }}">{{ article.title | h }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                    {% if folder.articles.size > 5 %}
                      <a href="{{ folder.url }}" class="btn btn-default see-all-articles">
                        View all ({{folder.articles_count}})
                      </a>
                    {% endif %}
                  {% endif %}
                </section>
              {% endfor %}
            </div>
          </section>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
