<div class="discussions-category-list-page">
  <h1 class="discussions-category-list-page__title">{% translate portal.community_forums %}</h1>
  <div class="row clearfix">
    <div class="column column--sm-8">
      {% for category in portal.forum_categories %}
        {% if category.forums_count > 0 %}
          <h3 class="discussions-category-list-item__title">
            <a href="{{ category.url }}">{{ category.name }} ({{category.forums_count}})</a>
          </h3>

          <ul class="list-unstyled row clearfix forum-list">
            {% for forum in category.forums %}
              <li class="column column--sm-6 forum-list-item">
                <div class="forum-list-item__box">
                  <h3 class="forum-list-item__title">
                    <a href="{{ forum.url }}">{{ forum.name }}</a>
                  </h3>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor%}
    </div>
    <div class="column column--sm-4">
      {% if portal.recent_popular_topics.size > 0 %}
        <section class="popular-topics">
          <h4 class="popular-topics__title">{% translate portal.popular_topics %}</h4>
          <ul class="popular-topic-list">
          {% for topic in portal.recent_popular_topics %}
            <li class="popular-topic-item">
              <a class="popular-topic-item__title" href="{{ topic.url }}">{{ topic.title | h }}</a>
              <div class="meta popular-topic-item__info">
                {{ topic | topic_info }}
              </div>
            </li>
          {% endfor %}
          </ul>
        </section>
      {% endif %}

      {% if portal.my_topics.size > 0 %}
        <section class="my-topics">
          <h4 class="my-topics__title">{% translate portal.my_topics %}</h4>
          <ul class="my-topics-list">
          {% for topic in portal.my_topics limit:5 %}
            <li class="my-topics-list-item">
              <a class="my-topics-list-item__title" href="{{topic.last_post_url}}">{{ topic.title | hc }}</a>
              <div class="meta">
                {{ topic | my_topic_info }}
              </div>
            </li>
          {% endfor %}
          </ul>
          {% if portal.my_topics_count > 5 %}
            <a href="{{portal.my_topics_url}}" class="btn btn-default">{% translate portal.topic.all_topics %}</a>
          {% endif %}
        </section>
      {% endif %}
    </div>
  </div>
</div>
