<li class="article-list-item {{#if promoted}}article-list-item--is-promoted{{/if}}" >
  {{#if promoted}}
    <span class="fa fa-star" title="{{t 'promoted'}}"></span>
  {{/if}}
  <a class="article-list-item__link" href="{{url}}">{{title}}</a>
</li>