{{#if attachments}}
  <ul class="list-unstyled attachment-list">
    {{#each attachments}}
      <li class="attachment-list__item">
        <span class="fa fa-paperclip attachment-list__icon"></span>
        <a href="{{url}}" target="_blank">{{name}}</a>
        <div class="meta">({{size}})</div>
      </li>
    {{/each}}
  </ul>
{{/if}}