<div class="row clearfix">
  <div class="column column--sm-8">
    {{breadcrumbs}}
  </div>
  <div class="column column--sm-4 vertical-offset">
    <div class="search-box-small">
      {{search}}
    </div>
  </div>
</div>