{{#if posts}}
  <ul class="list-unstyled post-list">
    {{#each posts}}
      <li class="post-list-item {{#if has_official_comment}} question-official-answer {{/if}} {{#if featured}} post-list-item--featured {{/if}} {{#if pinned}} post-list-item--pinned {{/if}}">
        <div class="post-list-item__col post-list-item__col--main">
          <h3 class="post-list-item__title">
            {{#if pinned}}<span class="fa fa-star"></span>{{/if}}
            <a href="{{url}}">{{title}}</a>
          </h3>
          <div class="meta post-list-item__meta">
            <span class="meta__item">
              {{#if author.url}}
                <a href="{{author.url}}" target="_zendesk_lotus">
                  {{author.name}}
                </a>
              {{else}}
                {{author.name}}
              {{/if}}
            </span>
            <span class="meta__item">
              {{date created_at timeago=true}}
            </span>
            {{! Show the post status, if any }}
            {{#is status 'none'}}
            {{else}}
              <span class="meta__item">
                <span class="post-status post-status--{{status_dasherized}}">
                  {{status_name}}
                </span>
              </span>
            {{/is}}
          </div>
        </div>
        <div class="post-list-item__col post-list-item__col--side">
          <span class="post-info">
            <span class="post-info__count">
              {{vote_sum}}
            </span>
            <span class="post-info__text">
              {{t 'vote' count=vote_sum}}
            </span>
          </span>
          <span class="post-info">
            <span class="post-info__count">
              {{comment_count}} 
            </span>
            <span class="post-info__text">
              {{t 'comment' count=comment_count}}
            </span>
          </span>
        </div>
      </li>
    {{/each}}
  </ul>

  {{pagination}}
{{else}}
  <p>{{t 'no_content'}}</p>
{{/if}}