$brand-primary: #B5282F;
$text-color: darken(#7e8a94, 15%);

$link-color: #2b7db5;

$custom-block-image-bg: #334E5E;

$custom-block-file-color: lighten($brand-primary, 10%);
$custom-block-lightbulb-color: #1FB69D;
$custom-block-community-color: #FD9E62;

@import '../../theme';