.article-page {
  margin-bottom: ($line-height-computed * 2);
}

.article {
  position: relative;
}

.article__title {
  font-size: $font-size-h3;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h2;
  }

  @media (min-width: $screen-md-min) {
    font-size: $font-size-h1;
  }
}

.article-meta {
  display: table;
  margin-bottom: $line-height-computed;
  width: 100%;
}

.article-meta__col {
  display: table-cell;
  vertical-align: top;
}

.article__body {
  margin-bottom: $line-height-computed;

  ul,
  ol {
    margin-left: 20px;
  }

  ul {
    list-style-type: disc;
  }

  ul ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    li {
      margin-bottom: ($line-height-computed / 3);
    }
  }
}

.article-vote {
  margin-bottom: 0;
}


.article-footer {
  margin-bottom: $line-height-computed;
}

.article__attachments {
  margin-bottom: $line-height-computed;
}

.article-sidebar {
  @media (max-width: $screen-xs-max) {
    padding-top: ($line-height-computed);
    border-top: $border-width solid $hr-border;
  }
}
