.login-alternate {
  margin-bottom: $line-height-computed;
  border-bottom: 1px dotted $hr-border;
  padding-bottom: $line-height-computed;
}

.auth-title {
  font-weight: 600;
}

.auth-wrapper {
  @media (max-width: $screen-xs-max) {
    border-top: 1px dotted $hr-border;
    padding-top: $line-height-computed;
  }
  @media (min-width: $screen-sm-min) {
    border-left: 1px dotted $hr-border;
  }
}

.auth-item {
  @media (min-width: $screen-sm-min) {
    padding-left: $grid-gutter-width;
  }
}
