.avatar {
  position: relative;
}

.avatar--agent {
  &:before {
    @include font-awesome;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -4px;
    margin-bottom: -4px;

    font-size: $font-size-small;
    color: $avatar-agent-icon-color;
    content: "\f19d";
  }
}

.user-avatar {
  border-radius: 100%;
}

.user-avatar--default {
  @include size($user-avatar-size);
}

#user .user-avatar {
  @include size($avatar-topbar-size);
}

.user-avatar--profile {
  @include size(65px);
}