/**
 * Breadcrumbs Component
 */

 $nbsp: "\00a0";

.breadcrumbs {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $line-height-computed;
  list-style: none;
  background-color: $breadcrumb-bg;

  > li {
    display: inline;

    + li:before {
      content: "#{$breadcrumb-separator}#{$nbsp}";// Unicode space added since inline-block means non-collapsing white-space
      padding: 0 0.5rem;
      color: $breadcrumb-color;
    }
  }
}
