%btn-disabled {
  &[disabled],
  fieldset[disabled] & {
    box-shadow: none;
    opacity: 0.65;
    cursor: $cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
  }
}

%btn {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base - 5, $line-height-base, $btn-border-radius);

  display: inline-block;
  margin-bottom: 0; // For input.btn
  border: $btn-border-width solid transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  box-shadow: none !important;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  white-space: nowrap;
  font-weight: $btn-font-weight;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  touch-action: manipulation;
  text-transform: capitalize;

  &,
  &:active {
    &:focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}

.btn,
.vote-up,
.vote-down {
  @extend %btn;
}

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

input[type="submit"] {
  @extend %btn;

  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

a[role="button"] {
  @extend %btn;

  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-google {
  @include button-variant(#fff, $brand-google, $brand-google);

  &:before {
    display: none;
  }
}

.btn-facebook {
  @include button-variant(#fff, $brand-facebook, $brand-facebook);

  &:before {
    display: none;
  }
}

.btn-twitter {
  @include button-variant(#fff, $brand-twitter, $brand-twitter);

  &:before {
    display: none;
  }
}
