.category {
  padding-bottom: $line-height-computed;
  h2 {
    > a {
      color: inherit;
    }
  }
}

.category + .category  {
  border-top: 1px dotted $hr-border;
  padding-top: $line-height-computed;
}

.folder h3 > a {
  color: inherit;
  font-weight: 600;
}

.folder {
  margin-bottom: $line-height-computed;

  &:nth-of-type(1n) {
    clear: none;
  }

  &:nth-of-type(2n+1) {
    clear: both;
  }
}

.categories {
  @media (min-width: $screen-sm-min) {
    margin-bottom: $line-height-computed;
  }
}

.category-item {
  position: relative;
  display: table;
  margin-bottom: $line-height-computed;
  height: 76px;
  @media (min-width: $screen-sm-min) {
    height: 150px;
  }
}

.category-item__link {
  display: table-cell;
  padding: 0 10px;
  border: 2px solid #FFAF17;
  background-color: #FFAF17;
  border-radius: 16px;
  color: $brand-primary;
  vertical-align: middle;
  text-align: center;
  transition: all 0.3s linear;
  font-weight: 600;

  h4 {
    margin-bottom: 0;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $brand-primary;
    border: $brand-primary;
    color: #fff;
    text-decoration: none;
  }
}
