// .category-item {
//   position: relative;
//   display: table;
//   margin-bottom: $line-height-computed;
//   height: 76px;
//
//   @media (min-width: $screen-sm-min) {
//     height: 150px;
//   }
// }
//
// .category-item__link {
//   display: table-cell;
//   vertical-align: middle;
//   border: 2px solid $link-color;
//   border-radius: $border-radius-base;
//   padding: 0 10px;
//   text-align: center;
//   transition: all 0.3s linear;
//   color: $link-color;
//
//   &:active,
//   &:focus,
//   &:hover {
//     background-color: $link-color;
//     color: #fff;
//     text-decoration: none;
//   }
// }
