// Comment List

.comments {

}

.comments__list {
  padding-left: 0;
  list-style: none;

  + section.lead {
    font-size: $font-size-base;
    color: $meta-text-color;
    font-weight: normal;
  }
}

.comment__body {
  ul,
  ol {
    margin-left: 20px;
  }

  ul {
    list-style-type: disc;
  }

  ul ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }
}

/*
.comment-sorter {
  margin-bottom: $line-height-computed;
  border-bottom: $border-width solid $hr-border;
  padding-bottom: $line-height-computed;

  @media (min-width: $screen-sm-min) {
    display: table;
    width: 100%;
  }
}

.comment-sorter__col {
  @media (min-width: $screen-sm-min) {
    display: table-cell;
    vertical-align: middle;
  }
}

.comment-sorter__col--main {
  @media (max-width: $screen-xs-max) {
    margin-bottom: ($line-height-computed / 2);
  }

  @media (min-width: $screen-sm-min) {
    padding-right: $padding-base-horizontal;
  }
}

.comment-sorter__col--filters {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
}

.comment-sorter__item {
  &.is-active {
    font-weight: $strong-font-weight;
  }

  & + &:before {
    margin: 0 ($padding-base-horizontal / 2);
    font-size: 10px;
    content: '\2022';
  }
}
 */
// Comment

.comment {
  margin-bottom: $line-height-computed;
  border-bottom: $border-width $hr-border-style $hr-border;
  padding-bottom: $line-height-computed;
}

.comment__inner {
  position: relative;
  padding-right: ($vote-width + $padding-base-horizontal);
}

.comments__content {
  position: relative;
  padding-right: $padding-base-horizontal;
}

.comment__header {
  position: relative;
  margin-bottom: $line-height-computed;
}

/* .comment__voting-and-actions {
  position: absolute;
  right: 0;
  top: 0;
  width: $vote-width;
  text-align: center;
}
 */
/* .comment__official-heading {
  position: absolute;
  right: ($padding-base-horizontal * 3);
  top: 0;
  width: auto;
  padding: 1px ($padding-base-horizontal / 2);
  font-size: $font-size-small;
  color: #fff;
  background-color: $brand-primary;
  border-radius: 0 0 $border-radius-base $border-radius-base;
} */

/* .comment--official {
  .comment__inner {
    position: relative;
    border: $border-width solid $brand-primary;
    border-radius: $border-radius-base;
    background-color: desaturate(lighten($brand-primary, 55%), 30%);
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed;
    padding-left: ($padding-base-horizontal * 2);
    padding-right: ($padding-base-horizontal * 2);
  }
} */

// Comment form

.comment-form {
  position: relative;
  margin-bottom: $line-height-computed;

  @media (min-width: $screen-sm-min) {
    padding-left: ($user-avatar-size + $padding-base-horizontal);
  }
}

.comment-form__avatar {
  position: absolute;
  top: 0;
  left: 0;

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.comment-form__body {
  margin-bottom: $line-height-computed;
}
