.container {
    padding-left: $container-padding-horizontal;
    padding-right: $container-padding-horizontal;
}

main,
.container-inner {
  max-width: $container-inner-width;
  margin-left: auto;
  margin-right: auto;
}