// Custom blocks

.custom-blocks {
  margin-bottom: $line-height-computed;
}

.custom-block {
  margin-bottom: $line-height-computed;
  a {
    display: block;
  }
}

.custom-block__image {
  margin-bottom: $line-height-computed;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #EDEDED;
  position: relative;

  &:hover {
    border-bottom: 3px solid #ffaf17;
    //background-color: #ededed;

    //&::before {
    //  display: block;
    //  //background-color: #ededed;
    //}
  }

  //&::before {
  //    content: "";
  //    display: none;
  //    width: 12px;
  //    height: 12px;
  //    background-color: white;
  //    border-left: 3px solid #ffaf17;
  //    border-bottom: 3px solid #ffaf17;
  //    transform: rotate(-45deg);
  //    position: absolute;
  //    bottom: -8px;
  //    left: 50%;
  //    position: absolute;
  //}



  .custom-block__image-bg {
    fill: $custom-block-image-bg;
  }

  .custom-block__image-file {
    stroke: $custom-block-file-color;
  }

  .custom-block__image-lightbulb {
    stroke: $custom-block-lightbulb-color;
  }

  .custom-block__image-envelope {
    stroke: $custom-block-envelope-color;
  }
  .custom-block__image-community {
    stroke: $custom-block-community-color;
  }

  .custom-block__title {
    font-size: $font-size-base;
    color: $custom-block-title-color;
    transition: color .3s ease;
    margin-bottom: 0;
    font-weight: 600;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }
  }
}
