.entry-info {
  @include clearfix;
  font-size: $font-size-small;
  overflow: hidden;
}

  .entry-info__avatar {
    float: left;
    padding-right: $padding-base-horizontal;
  }

  .entry-info__content {
    display: table-cell;
    vertical-align: top;
  }