.folder-page {
  margin-bottom: ($line-height-computed * 2);
}

.folder {
  margin-bottom: $line-height-computed;

  @media (min-width: $screen-sm-min) {
    &:nth-child(2n+1) {
      clear: left;
    }
  }

  @media (min-width: $screen-md-min) {
    &:nth-child(2n+1) {
      clear: none;
    }

    &:nth-child(3n+1) {
      clear: left;
    }
  }
}

.folder__title {
  font-weight: 300;
}

.folder__title-link {
  color: inherit;
}

