.footer-container .container-inner {
  padding-top: $line-height-computed;
}

.footer-container {
  padding: $footer-padding;
  color: $footer-text-color;
  font-size: $footer-font-size;
  line-height: $footer-line-height;
  background-color: $brand-primary;
}


.footer-container__inner {
  margin: 0 auto;
  width: 100%;
  @media (min-width: $screen-sm-min) {
    display: table;
  }
}

.footer-container__col {
  position: relative;
  @media (min-width: $screen-sm-min) {
    display: table-cell;
    vertical-align: top;
  }
}

.footer-container__col--social-links {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
}

.footer-social-link {
  display: inline-block;
  width: $footer-social-link-size;
  height: $footer-social-link-size;
  color: $footer-social-link-color;
  vertical-align: middle;
  font-size: $footer-social-link-size !important;
  line-height: $footer-social-link-size !important;
  
  & + & {
    margin: $footer-social-link-margin;
  }
  
  &:hover {
    color: #fff;
  }
}

.footer-container__copyright {
  a {
    color: $footer-text-color;
  }
}

.copyright {
  padding: 0;
  text-align: left;
  margin-bottom: ($line-height-computed / 2);
  color: #fff;
}

.no-results {
  margin-bottom: 10px;
}