.forum-list {

}

.forum-list-item {
  margin-bottom: ($line-height-computed);

  @media (min-width: $screen-sm-min) {
    &:nth-child(2n+1) {
      clear: left;
    }
  }
}

.forum-list-item__title {
  font-weight: 300;

  a {
    color: inherit;
  }
}



.discussions-category-list {

}

.discussions-category-list-item {

}

.discussions-category-list-item__title {
  padding-bottom: ($line-height-computed / 2);
  border-bottom: $border-width $hr-border-style $hr-border;
  font-weight: $strong-font-weight;

  a {
    color: inherit;
  }
}

.forum-list-item__box {
}


.discussions-category-title {
  padding-bottom: ($line-height-computed / 2);
  border-bottom: $border-width $hr-border-style $hr-border;
}

.forum-filters {
  margin-bottom: ($line-height-computed * 2);

  .nav-pills > .active > a,
  .nav-pills > .active > a:hover {
    border-radius: 50px;
    box-shadow: none;
    padding: 8px 26px;
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    background-color: transparent;
  }
}

.nav-pills>li>a {
  border-radius: 50px;
  padding: 8px 26px;
  color: #B5282F;
  //background-color: #ffaf17;
  border: 1px solid #ffaf17;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    box-shadow: none;
    color: #b5282f;
    background-color: #ffaf17;
    border: 1px solid #ffaf17;
  }
}

.nav-pills>.active>a,
.nav-pills>.active>a:hover {
  color: #fff;
  background-color: $brand-primary;
  border: 1px solid $brand-primary;
  box-shadow: none;
  color: #b5282f;
  background-color: #ffaf17;
  border: 1px solid #ffaf17;
}

.forum-buttons a {
  @extend %btn;

  &:not(.btn-small) {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }

  &.btn-small {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
    border-radius: 50px;
    padding: 8px 26px;
    color: #B5282F;
    background-color: #ffaf17;
    border: 1px solid #ffaf17;

  }
}