//
// Forms
// --------------------------------------------------
%form-control {
  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;
  // Placeholder
  @include placeholder;

  display: block;
  padding: $padding-base-vertical $padding-base-horizontal;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  border: $border-width solid $input-border;
  border-radius: $input-border-radius;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  box-shadow: none;
  color: $input-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
  // @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  // [converter] extracted textarea& to textarea.form-control
}

%form-control-disabled {
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
      background-color: $input-bg-disabled;
      opacity: 1; // iOS fix for unreadable disabled content
      cursor: $cursor-disabled;
    }
}
// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
  margin: 0;
  padding: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
  border: 0;
}

legend {
  display: block;
  margin-bottom: $line-height-computed;
  padding: 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $legend-border-color;
  color: $legend-color;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
}

label {
  display: inline-block;
  margin-bottom: ($line-height-computed / 2);
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  font-weight: $label-font-weight;
}

// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  box-sizing: border-box;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}

// Adjust output element
output {
  display: block;
  padding-top: ($padding-base-vertical + 1);
  color: $input-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.nesty-input {
  @extend %form-control;
}


// .form-control {
  // @extend %form-control;
// }
// Reset height for `textarea`s
textarea {
  height: ($input-height-base * 3);
  // height: auto;
  resize: vertical;
}


// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"] {
  -webkit-appearance: none;
}


// Special styles for iOS temporal inputs
//
// In Mobile Safari, setting `display: block` on temporal inputs causes the
// text within the input to become vertically misaligned. As a workaround, we
// set a pixel line-height that matches the given height of the input, but only
// for Safari.

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: $input-height-base;
  }
}

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.control-group {
  @include clearfix;
  margin-bottom: $line-height-computed;

  p {
    @extend .help-block;
  }

  &.required > label:after {
    margin-left: 2px;
    color: $brand-danger;
    content: "*";
  }
}


// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help-block {
  display: block; // account for any element using help-block
  margin-top: 10px;
  margin-bottom: 15px;
  color: lighten($text-color, 25%); // lighten the text some for contrast
  font-size: 90%;
}

.form-portal .control-label,
.form-portal .controls,
.form-portal .form-actions {
  @media (max-width: $screen-xs-max) {
    width: 100%;
    float: none;
    margin-left: 0;
    padding-left: 0;
  }
}

.control-label {
  margin-bottom: ($line-height-computed / 2);
}

.error {
  color: $brand-danger;
  padding: 4px !important;
}

.redactor_editor,
.redactor_editor:focus {
  font-size: $font-size-base !important;
  font-family: $font-family-base !important;
}

#errorExplanation ul,
.errorExplanation ul {
  margin-left: 20px;
}

[rel="tmpClipboard"] {
  display: none;
}

.recaptchatable #recaptcha_response_field {
  display: inline-block;
  height: auto;
}
