.header {
  position: relative;
  margin-bottom: $line-height-computed;
  background-position: 50% 50%;
  background-size: cover;
  font-size: 14px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: ($line-height-computed * 3);
  }

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #333;
    content: "";
    opacity: 0.9;
  }

  .container-inner {
    position: relative;
    z-index: 2;
  }
}
