// Help Center Name

.help-center-name {
  display: inline-block;
  margin: $help-center-name-margin;
  font-weight: $strong-font-weight;
  color: $help-center-name-color;
  vertical-align: middle;
}
