/**
 * Icons Component
 */

 .visibility-internal-icon:before {
   @extend %icon-font;
   content: $icon-visibiity-internal;
 }

 .search-result-votes:before {
   @extend %icon-font;
   content: $icon-search-result-votes;
 }

 .recent-activity-item-comment span:before {
   @extend %icon-font;
   content: $icon-recent-activity-item-comment;
 }

 .article-vote-up:before {
   @extend %icon-font;
   content: $icon-article-vote-up;
 }
 .article-vote-down:before {
   @extend %icon-font;
   content: $icon-article-vote-down;
 }
 
 .vote-controls a {
   @extend %icon-font;
 }

 .vote-up:before {
   content: $icon-commnuity-vote-up;
 }

 .vote-down:before {
   content: $icon-commnuity-vote-down;
 }

 .share a:before {
   @extend %icon-font;
 }

 .share-facebook:before {
   content: $icon-share-facebook;
 }

 .share-twitter:before {
   content: $icon-share-twitter;
 }

 .share-linkedin:before {
   content: $icon-share-linkedin;
 }

 .share-googleplus:before {
   content: $icon-share-googleplus;
 }

 .dropdown-toggle:after {
   @extend %icon-font;
   content: $icon-dropdown;
   margin-left: 5px;
 }
