// Intro Title Component
//

.intro-title {
  position: relative;
  margin-bottom: $line-height-computed;
  font-size: $font-size-h4;
  font-weight: $headings-font-weight;
  color: $intro-title-color;
  font-weight: bold;
  @media (min-width: $screen-sm-min) {
    margin-bottom: ($line-height-computed * 2);
    font-size: $font-size-h2;
  }
}
