.banner-language-selector {
  /* display: inline-block; */
  /* vertical-align: middle; */
  float: none !important;
  @media (max-width: $screen-xs-max) {
    
  }
}

.language-options {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  vertical-align: middle;

  @media (max-width: $screen-xs-max) {
    display: block;
  }

  .caret {
    border-top-color: #fff;
  }

  .dropdown {
    margin-bottom: 0;
  }


  .dropdown-toggle {
    @extend %btn;
    @include button-variant($topbar-btn-color, $topbar-btn-bg, $topbar-btn-border);

    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }
  .dropdown-menu {
    font-size: $font-size-base;
  }
}