// Menu Button Component
//

@mixin line {
  display: inline-block;
  width: $menu-button-size;
  height: ($menu-button-size / 15);
  background: $menu-button-color;
  border-radius: ($menu-button-size / 15);
  transition: $menu-button-transition;
}

.menu-button {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border-radius: $menu-button-border-radius;
  // padding: $menu-button-padding;
  transition: $menu-button-transition;
  @media (min-width: $screen-sm-min) {
    display: none;
  }
  &:hover {
    opacity: 1;
  }
  &:active {
    outline: 0;
    box-shadow: none;
    transition: 0;
  }
  &:focus {
    outline: 0;
  }
}

//common to all three-liners
.menu-button__lines {
  position: relative;

  @include line;
  &:before, &:after {
    position: absolute;
    left: 0;

    content: '';
    transform-origin: ($menu-button-size / 14) center;

    @include line;
  }
  &:before {
    top: ($menu-button-size / 4);
  }
  &:after {
    top: -($menu-button-size / 4);
  }
}

.csstransforms3d .menu-button.is-pressed {
  transform: scale3d(.8,.8,.8);
  .menu-button__lines {
    background: transparent;
    &:before,
    &:after {
      top: 0;

      width: $menu-button-size;
      transform-origin: 50% 50%;
    }
    &:before {
      transform: rotate3d(0,0,1,45deg);
    }
    &:after {
      transform: rotate3d(0,0,1,-45deg);
    }
  }
}
