.meta {
  font-size: $meta-font-size;
  color: $meta-text-color;
}

.meta__item {
  display: inline-block;
  margin-right: ($padding-base-horizontal / 2);
  & + &:before {
    margin-right: ($padding-base-horizontal / 2);
    font-size: 10px;
    content: "\2022";
  }
}

.meta--profile {
  margin-bottom: 0;

  .meta__item {
    margin-bottom: 0;
  }
}