.new-ticket-page {
  margin-bottom: ($line-height-computed * 2);
}

.new-ticket-title {
  font-size: $font-size-h3;
  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h2;
  }
  @media (min-width: $screen-md-min) {
    font-size: $font-size-h1;
  }
}
.new-ticket-form {
  margin-bottom: $line-height-computed;
}
