// Note Component

.note {
  position: relative;

  padding: $note-padding;
  margin-bottom: $line-height-computed;
  color: lighten($text-color, 20%);
  border-left: $note-border-width $hr-border-style transparent;
  p:last-child {
    margin-bottom: 0;
  }
}

.note-title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.note-default,
.note--default {
  border-color: $gray-light;
  .note-title {
    color: $gray-light;
  }
}

.note-info, 
.note--info {
  border-color: $brand-info;
  .note-title {
    color: $brand-info;
  }
}

.note-warning,
.note--warning {
  border-color: $brand-warning;
  .note-title {
    color: $brand-warning;
  }
}

.note-success,
.note--success {
  border-color: $brand-success;
  .note-title {
    color: $brand-success;
  }
}

.note-danger,
.note--danger {
  border-color: $brand-danger;
  .note-title {
    color: $brand-danger;
  }
}
