/**
 * Page Header Component
 */


.page-header {
  position: relative;
  margin: $page-header-margin;
  border-bottom: $page-header-border;
}

.page-description {
  margin: $page-description-margin;
  color: $page-description-color;
}
