.pagination {
  margin: 0;
  text-align: left;

  ul {
    display: inline-block;
    margin: 0 0 ($line-height-computed / 2);
    padding-left: 0;
    width: 100%;
    box-shadow: none;

    > li {
      display: inline-block; // Remove list-style and block-level defaults
      margin-right: 6px;
      margin-bottom: ($line-height-computed / 2);

      > a,
      > span {
        position: relative;
        display: block;
        padding: $padding-base-vertical $padding-large-horizontal;
        border-width: 1px;
        border-color: $pagination-bg;
        border-radius: $border-radius-base;
        background-color: $pagination-bg;
        color: $pagination-color;
        text-decoration: none;
        line-height: $line-height-base;
      }

      &:first-child,
      &:last-child {
        > a, > span {
          border-radius: $border-radius-base;
        }
      }
    }

    > li > a,
    > li > span {
      &:hover,
      &:focus {
        border-color: $pagination-hover-border;
        background-color: $pagination-hover-bg;
        color: $pagination-hover-color;
      }
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        border-color: $pagination-active-border;
        background-color: $pagination-active-bg;
        color: $pagination-active-color;
        cursor: default;
      }
    }
  }
}
