/**
 * Placeholders
 */

%icon-font {
  font-weight: normal;
  font-style: normal;
  font-family: $icon-font;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%meta {
  color: $meta-text-color;
  font-size: $meta-font-size;
}

%community-col {
  min-width: ($community-col - 2);
  @media (min-width: $screen-sm-min) {
    min-width: $community-col;
  }
}

%meta-bullet-item {
  margin-right: ($padding-base-horizontal / 2);

  & + &:before {
    margin-right: ($padding-base-horizontal / 2);
    content: "\2022";
    font-size: $meta-bullet-font-size;
  }
}
