// User Profiles

// Profile Header

.profile-header {
  margin-bottom: $line-height-computed;
  border-radius: $border-radius-base;
  background-color: $profile-header-bg;
  padding: $line-height-computed $grid-gutter-width;
  text-align: center;
  color: $profile-header-text-color
}

.profile-header__avatar {
  display: inline-block;
}

.profile-header__name {
  margin-bottom: ($line-height-computed / 2);
  font-size: $font-size-h3;

  a {
    color: $profile-header-name-color;
  }

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h2;
    font-weight: 300;
  }
}

.profile-header__options {
  [data-action="edit-profile"] {
    @include button-variant($edit-profile-color, $edit-profile-bg, $edit-profile-border);
  }
}

.profile-header__private-badge {
  display: inline-block;
  margin-bottom: $line-height-computed;
  background-color: $profile-private-badge-bg;
}

.profile-header__description {
  word-break: break-all;
  word-break: break-word;
}

// Profile Stats

.profile-stats {
  margin-bottom: ($line-height-computed / 2);
  padding-left: 0;
  list-style: none;
  font-size: $font-size-small;
  color: $profile-stats-text-color;
}

.profile-stats__stat {
  margin-right: $padding-base-horizontal;
  margin-bottom: ($line-height-computed / 4);

  @media (max-width: $screen-xs-max) {
    display: block;

    &:before {
      display: none;
    }
  }
}

.profile-stats__label {
  margin-right: ($padding-base-horizontal / 2);
}

.profile-stats__value {
  color: $profile-stats-value-color;
}

// Profile Nav

.profile-nav {
  margin-bottom: $line-height-computed;
  border-radius: $border-radius-base;
  background-color: #eff0f2;
  overflow: hidden;
  font-size: $font-size-small;
  font-weight: 600;
}

.profile-nav__items {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.profile-nav__item {
  margin-bottom: 0;

  @media (min-width: $screen-sm-min) {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    display: block;
    color: $text-color;
  }

  &.is-active {
    background-color: $brand-primary;
    color: #fff;
  }

  &.is-active,
  a {
    padding: ($line-height-computed / 1.5) $padding-base-horizontal;
    line-height: 1;
  }

  &:after {
    right: $padding-base-horizontal !important;
  }
}

// Profile Section

.profile-section {
  width: 100%;
}

.profile-section__header {
  margin-bottom: $line-height-computed;
}

.profile-section__title {
  margin-bottom: ($line-height-computed / 2);
  font-size: $font-size-h3;
}

.profile-section__description {
  color: $meta-text-color;
  font-size: $font-size-small;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 0;
  }
}

// Profile Section Sorter

.profile-section-sorter {
  font-size: $font-size-small;

  .dropdown {
    display: inline-block;
  }

  @media (min-width: $screen-sm-min) {
    display: table;
    width: 100%;
  }

  @media (min-width: $screen-sm-min) {
    border-top: 0;
    padding-top: 0;
  }
}

.profile-section-sorter__col {
  @media (min-width: $screen-sm-min) {
    display: table-cell;
    vertical-align: middle;
  }
}

.profile-section-sorter__col--main {
  @media (max-width: $screen-xs-max) {
    margin-bottom: ($line-height-computed / 2);
  }

  @media (min-width: $screen-sm-min) {
    padding-right: $padding-base-horizontal;
  }
}

.profile-section-sorter__col--btn {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
}

// Profile Contribution

.profile-contribution {
  position: relative;

  border-radius: $border-radius-base;
  background-color: #eff0f2;
  padding: ($line-height-computed / 2) $grid-gutter-width;

  word-wrap: break-word;
}

.profile-contribution__header {
  margin-bottom: ($line-height-computed / 4);
}

.profile-contribution__status {
  margin-bottom: ($line-height-computed / 4);
}

.profile-contribution__title {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 4);
  font-size: $font-size-base;
  font-weight: 600;
}

.profile-contribution__body {
  margin-bottom: ($line-height-computed / 2);
}

.profile-contribution--list {
  .profile-contribution__title:before {
    @include font-awesome;
    margin-right: 2px;
  }
}

.profile-contribution__breadcrumbs {
  margin-bottom: ($line-height-computed / 2);
  padding: 0;
  font-size: ($font-size-small);
}

.profile__no-activity,
.profile__private-activity {
  text-align: center;
  color: $meta-text-color;
}

// Profile Activity

.profile-activity-list {
  padding-left: 0;
  list-style: none;
}

.profile-activity {
  position: relative;
  margin-bottom: ($line-height-computed * 1.5);
}

.profile-activity__header {
  margin-bottom: ($line-height-computed / 2);

  font-size: $font-size-small;
  font-weight: 600;

  &:before {
    @include font-awesome;
    margin-right: 2px;
  }
}

.profile-activity__avatar {
  @include size(30px);
  margin-right: ($padding-base-horizontal / 2);
}

.profile-activity-list--articles .profile-contribution__title:before,
.profile-activity[class$="-article"] .profile-activity__header:before {
  content: '\f0f6';
}

.profile-activity-list--posts .profile-contribution__title:before,
.profile-activity[class$="-post"] .profile-activity__header:before {
  content: '\f0e6';
}

.profile-activity-list--comments .profile-contribution__title:before,
.profile-activity[class$="-comment"] .profile-activity__header:before {
  content: '\f0e5';
}

.user-subscribe {
  display: inline-block;
}
