/**
 * Scroll To Top Component
 */

.scroll-to-top {
  width: $scroll-to-top-size;
  height: $scroll-to-top-size;
  font-size: $scroll-to-top-font-size !important;
  color: $scroll-to-top-color;
  text-align: center;
  border: $scroll-to-top-border;
  border-radius: $scroll-to-top-border-radius;
  line-height: $scroll-to-top-line-height !important;
  transition: $scroll-to-top-transition;
  z-index: $scroll-to-top-z-index;
  &:focus,
  &:active {
    outline: 0;
  }

  &:hover {
    border-color: darken($brand-primary, 20%);
    color: darken($scroll-to-top-border-color, 20%);
  }
}

.scroll-to-top--fixed {
  position: fixed;

  right: $scroll-to-top-size;
  bottom: (-4 * $scroll-to-top-size);

  &.is-active {
    bottom: $scroll-to-top-size;
  }
}