
.search-results-count {
  font-size: $font-size-h4;
}

.search-result {
  margin-bottom: $line-height-computed;
  border-bottom: $border-width $hr-border-style $hr-border;
}

.search-result__title {
  margin-bottom: ($line-height-computed / 2);
  // margin-bottom: 0;
  font-weight: $strong-font-weight;
}

.search-result__description {
  margin-bottom: ($line-height-computed / 2);
  font-size: $font-size-small;
  
  &:empty {
    display: none;
  }

  em {
    padding: 0 3px;
    font-style: normal;
    font-weight: $strong-font-weight;
    background-color: #fff3ca;
    border-radius: 3px;
  }
}

.search-result__meta {
  margin-bottom: ($line-height-computed / 2);
  margin-top: ($line-height-computed / 2);
}

.search-result-votes {
  display: inline-block;
  padding: 2px 4px;
  font-size: $font-size-small;
  color: #fff;
  background-color: $brand-primary;
  border-radius: $border-radius-base;
}