.hc-search-input {
  position: relative;
  width: 100%;

  &:before {
    @include font-awesome;
    position: absolute;
    top: 50%;
    color: $search-icon-color;
    content: '\f002';
  }
}

.hc-search-button {
  display: none;
}

.hc-search-input input[type="text"] {
  @include placeholder($search-query-placeholder-color);

  // border: none;
  box-shadow: none;
  color: $search-query-text-color;
  line-height: 1;
  transition: border 0.3s ease;
  border-radius: 50px;

  &:focus {
    outline: $brand-primary;
    border-color: $brand-primary;
  }
}

.search-box {
  position: relative;
  z-index: 2;
}

// .search-box--hero-unit {
//   margin-right: auto;
//   margin-bottom: $line-height-computed;
//   margin-left: auto;
//   padding-top: $line-height-computed;
//   max-width: 720px;
//
//   @media (min-width: $screen-sm-min) {
//     margin-bottom: ($line-height-computed * 3);
//   }
//
//   .hc-search-input input[type="text"] {
//     padding: $search-query-padding;
//     height: 60px;
//     font-size: 20px;
//   }
//
//   .hc-search-input:before {
//     left: 10px;
//     margin-top: -($search-icon-font-size / 2);
//     font-size: $search-icon-font-size;
//   }
// }

.search-box--small {
  margin-bottom: ($line-height-computed * 2);

  .hc-search-input:before {
    left: 0;
    margin-top: -8px;
    font-size: 16px;
  }

  .hc-search-input input[type="text"] {
    padding-left: 36px;
  }
}

.search-box--without-button {
  padding-right: $padding-base-horizontal;
  padding-bottom: 10%;
  padding-left: $padding-base-horizontal;

  @media (min-width: $screen-sm-min) {
    padding-top: 5%;
  }

  .hc-search-input:before {
    @extend %icon-font;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -$search-icon-font-size / 2;
    padding-right: $padding-base-horizontal;
    border-right: 1px solid $hr-border;
    color: $search-icon-color;
    content: "\f002";
    font-size: $search-icon-font-size;
  }

  .hc-search-input input[type="text"] {
    padding: $search-query-padding;
    border-radius: $search-query-border-radius;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
    border: none;
    font-size: $font-size-base;
    transition: all 0.6s ease;

    @media (min-width: $screen-sm-min) {
      height: 60px;
    }

    &:focus {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
    }
  }
}

.ui-state-focus .match {
  color: $text-color;
}