// Share Buttons Component
//

.share {
  white-space: nowrap;
}

.share li {
  position: relative;

  display: inline-block;
  vertical-align: top;
}

.share a {

  @include size($share-button-size);
  display: block;
  overflow: hidden;
  border: 1px solid $meta-text-color;
  border-radius: $border-radius-base;
  color: $meta-text-color;
  line-height: $share-button-size;
  touch-action: manipulation;
  &:before {
    position: relative;

    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

.share-facebook:hover {
  color: $brand-facebook;
}

.share-twitter:hover {
  color: $brand-twitter;
}

.share-linkedin:hover {
  color: $brand-linkedin;
}

.share-googleplus:hover {
  color: $brand-google;
}
