.ticket-page {
  margin-bottom: ($line-height-computed * 2);
}

.ticket {
  position: relative;
}

.ticket__id {
  margin-bottom: ($line-height-computed / 2);
  font-weight: $strong-font-weight;
}

.ticket__subject {
  font-size: $font-size-h3;

  @media (min-width: $screen-md-min) {
    font-size: $font-size-h2;
  }
}

.ticket__attachments {
  margin-bottom: $line-height-computed;
}

.ticket__desc {
  div {
    /* margin-bottom: ($line-height-computed * 2); */
    font-family: $font-family-base !important;
    font-size: $font-size-base !important;
    line-height: $line-height-base !important;
  }
}

.ticket__sidebar {
  margin-bottom: $line-height-computed;
  padding: $line-height-computed $padding-base-horizontal 0;
  border: $border-width solid $hr-border;
  border-radius: $border-radius-base;
  font-size: $meta-font-size;

  dd {
    margin-bottom: ($line-height-computed / 2);
  }
}

.ticket__details {
  h3 {
    font-weight: $headings-font-weight;
  }
}

.toolbar-actions {
  float: none;
  width: 100%;
  margin-top: 0;
  margin-bottom: $line-height-computed;
}

#ticket-sidebar-details .control-label {
  margin-top: 0;
}
