.topics {
  padding-left: 0;
  list-style: none;
}

.topics__item {
  @include clearfix;

  margin-bottom: ($line-height-computed / 2);
}

.forum-topics {
  padding-left: 0;
  list-style: none;
}

.forum-topics__item {
  @include clearfix;

  margin-bottom: ($line-height-computed);

  & + & {
    padding-top: $line-height-computed;
    border-top: 1px solid $hr-border;
  }
}

.forum-topics__link {
  font-size: $font-size-h4;
}