.topic-page {
  @media (min-width: $screen-sm-min) {
    margin-bottom: ($line-height-computed * 2);
  }
}

.topic {
  position: relative;
  margin-bottom: $line-height-computed;
}

.topic__title {
  padding-right: ($padding-base-horizontal * 1.5);
  font-size: $font-size-h3;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h2;
  }
  @media (min-width: $screen-md-min) {
    font-size: $font-size-h1;
  }
}

.topic__meta {
  margin-bottom: $line-height-computed;
}

.topic__text {
  margin-bottom: $line-height-computed;
  /* padding-bottom: $line-height-computed; */
  border-bottom: $border-width $hr-border-style $hr-border;

  ul,
  ol {
    margin-left: 20px;
  }

  ul {
    list-style-type: disc;
  }

  ul ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }
}

.topic-callout {
  padding: ($line-height-computed / 2) $grid-gutter-width;
  border: $hr-border-width $hr-border-style $hr-border;
  @media (max-width: $screen-xs-max) {
    margin-top: $line-height-computed;
  }
}

.topic-callout__title {
  font-weight: $strong-font-weight;
  font-size: $font-size-h5;
}

.topic-callout__buttons {
  a {
    @extend %btn;
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  }
}
