// Topbar Component
//
// May contain the following components:
// Logo
// Help Center Name
// Sign In button
// User Menu (User Avatar, User Name, Dropdown, Change Password, Edit Profile)
// Submit A Request link,
// Language selector
//

.topbar {
  position: relative;
  z-index: $topbar-z-index;
  margin-bottom: $line-height-computed;
  color: $topbar-color;
  background-color: $topbar-background-color;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.topbar__inner {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.topbar__col {
  position: relative;

  padding: $topbar-col-padding;
}

// Wrapper for buttons

.topbar__controls {
  font-size: 0;

  @media (min-width: $screen-sm-min) {
    float: right;
    width: 100%;
    text-align: right;
  }

  > * {
    @media (max-width: $screen-xs-max) {
      display: block;
      margin-bottom: 10px;
    }

    @media (min-width: $screen-sm-min) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  > * + * {
    @media (min-width: $screen-sm-min) {
      margin-left: 10px;
    }
  }

  > b > a {
    @extend %btn;
    border-radius: 50px;
    padding: 8px 26px;
    @include button-variant($topbar-btn-color, $topbar-btn-bg, $topbar-btn-border);

    &:hover {
      background-color: transparent;
      border: 1px solid #fff;
    }

    @media (max-width: $screen-xs-max) {
      display: block;
    }

    > b {
      font-weight: $btn-font-weight;
      text-transform: capitalize;
      font-size: 13px;
    }
  }
}

.topbar__menu {
  &.is-opened {
    display: block;
  }
  @media (max-width: $screen-xs-max) {
    display: none;
    padding-top: 0;
  }
}

.topbar__head {
  @media (max-width: $screen-xs-max) {
    display: table;
    width: 100%;
  }
}

.topbar__button {
  @media (max-width: $screen-xs-max) {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
  }
}

//Breakpoint 2 (medium)

@media (min-width: $screen-sm-min) {
  .topbar__inner {
    display: table;
  }

  .topbar__col {
    display: table-cell;
    vertical-align: middle;
  }

  .topbar__controls {
    float: right;
  }

  .topbar__menu {
    display: table-cell !important;
  }
}

.topbar-link {
  font-weight: $btn-font-weight;
  color: $topbar-link-color;
}

.topbar .logo a {
  display: block;
}
