#article-author {
  display: none;
}

.vote-feedback {
  margin-left: 0;
}

.vote-up,
.vote-down {
  @include button-variant($text-color, $gray-lighter, $gray-lighter);
}

.vote-up,
.vote-down {
  &:before {
    @include font-awesome;
  }
}

.vote-up:before {
  content: '\f164';
}

.vote-down:before {
  content: '\f165';
}

.vote-down-container:before {
  display: none;
}

#vote-feedback-container,
.article-vote {
  margin-bottom: 0;
  margin-bottom: $line-height-computed;
  position: relative;
  padding: $line-height-computed $padding-base-horizontal;
  border: $border-width $hr-border-style $hr-border;
  border-radius: $border-radius-base;
}

#vote-feedback-container {
  .lead {
    font-weight: 400;
  }
}

.sol-feedback-message {
  display: block;
}
