// #134170
$brand-primary: #B5282F;
$brand-success: #29B473;

$text-color: #444;

$btn-primary-color:  $brand-primary;
$btn-primary-bg:     transparent;
$btn-primary-border: $brand-primary;

$btn-success-color:  $brand-success;
$btn-success-bg:     transparent;
$btn-success-border: $brand-success;

@import '../../theme';