//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary: #2b7db5 !default;
$brand-success: #29B473 !default;
$brand-info:    #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger:  #d9534f !default;

$brand-facebook: #3d5b95 !default;
$brand-twitter: #24aadd !default;
$brand-linkedin: #0976b4 !default;
$brand-google: #d23e30 !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            #282D33 !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


//** Horizontal line color.
$hr-border:                  #b7bbc4 !default;

$border-width: 1px !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Open Sans', sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default;
$font-size-small:         ceil(($font-size-base * 0.85)) !default;

$font-size-h1:            floor(($font-size-base * 2.6)) !default;
$font-size-h2:            floor(($font-size-base * 2.15)) !default;
$font-size-h3:            ceil(($font-size-base * 1.7)) !default;
$font-size-h4:            ceil(($font-size-base * 1.25)) !default;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.6 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$strong-font-weight: bold;

$border-radius-base:        50px !default;

//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     8px !default;
$padding-base-horizontal:   16px !default;

$padding-large-vertical:    16px !default;
$padding-large-horizontal:  16px !default;



//== Forms
//
//##

//** `<input>` background color
$input-bg:           #fff !default;
//** `<input disabled>` background color
$input-bg-disabled:  $gray-lighter !default;

//** Text color for `<input>`s
$input-color:        $gray !default;
//** `<input>` border color
$input-border:       #ccc !default;
$input-border-width: 1px !default;

// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
$input-border-radius:            $border-radius-base !default;


//** Border color for inputs on focus
$input-border-focus:             #66afe9 !default;

//** Placeholder text color
$input-color-placeholder:        #999 !default;

//** Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed !default;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;

// Small screen / tablet
$screen-sm-min:              768px !default;

// Medium screen / desktop
$screen-md-min:              992px !default;

// Large screen / wide desktop
$screen-lg-min:              1200px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

//== Type
//
//##

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px !default;
//** Text muted color
$text-muted:                  $gray-light !default;
//** Abbreviations and acronyms border color
$abbr-border-color:           $gray-light !default;
//** Headings small color
//** Blockquote small color
$blockquote-small-color:      $gray-light !default;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25) !default;
//** Blockquote border color
$blockquote-border-color:     $gray-lighter !default;
//** Page header border color
$page-header-border-color:    $gray-lighter !default;
//** Width of horizontal description list titles
$dl-horizontal-offset:        $component-offset-horizontal !default;


$label-font-weight: $strong-font-weight !default;

$hr-border-width: 1px;
$hr-border-style: dotted;

/**
 * Component Variables
 */

/**
 * Grid
 */


 $grid-columns: 12 !default;
 $grid-gutter-width: $padding-base-horizontal !default;

 /**
  * Arrange
  */

 $arrange-columns-max: 4 !default;


/**
 * Container Component
 */

 $container-padding-horizontal: $grid-gutter-width !default;
 $container-inner-width: 1170px !default;

/* Logo */

 $logo-max-height: 40px !default;

/**
 * Topbar
 */

 $topbar-background-color: transparent !default;
 $topbar-color:            inherit !default;
 $topbar-z-index:          10 !default;
 $topbar-col-padding:      20px 0 !default;
 $topbar-link-color:       #fff !default;
 $topbar-link-transition: all .3s ease !default;
 $topbar-margin:       0 0 ($line-height-computed * 2) 0 !default;
 $topbar-item-margin: 10px !default;

/**
 * User
 */

 $user-name-font-size: 14px !default;
 $user-name-font-weight: $strong-font-weight !default;

 /**
  * User Dropdown
  */


 $user-dropdown-background: #fff !default;
 $user-dropdown-toggle-padding: 0 !default;
 $user-dropdown-menu-item-padding: 0 !default;

/**
 * User Change Password
 */


 $user-password-form-padding: 0 16px 16px 16px !default;
 $user-password-list-item-margin-bottom: 0 !default;

 $user-profile-padding: 0 0 16px 0 !default;

 $user-profile-label-font-weight: 400 !default;
 $user-profile-label-margin-bottom: 0 !default;

 $user-profile-dt-padding: 4px 0 0 16px !default;

 $user-profile-dd-margin-left: 105px !default;
 $user-profile-dd-padding: 2px !default;

 $user-profile-photo: 20px !default;
 $user-profile-border-radius: 2px !default;

 $user-edit-separator-padding: 8px 16px !default;
 $user-edit-separator-margin-bottom: 16px !default;

 $user-edit-border: 1px solid #ccc !default;




/**
 * Dropdown
 */

 $dropdown-menu-separator-font-size: $font-size-base !default;
 $dropdown-menu-separator-text-color: $text-color !default;

/**
 * User
 */

 $user-edit-border: 1px solid $hr-border;

 /**
  * Breadcrumbs Component
  */

 $breadcrumb-padding-vertical:   8px !default;
 $breadcrumb-padding-horizontal: 0 !default;

 /* Breadcrumb background color */
 $breadcrumb-bg:                 transparent !default;
 /* Breadcrumb text color */
 $breadcrumb-color:              #ccc !default;
 /* Text color of current page in the breadcrumb */
 $breadcrumb-active-color:       $gray-light !default;
 /* Textual separator for between breadcrumb elements */
 $breadcrumb-separator:          "›" !default;

 /**
  * Button Component
  * For each of buttons, define text, background and border color.
  */

 $btn-font-size-base: 14px !default;
 $btn-font-weight: $strong-font-weight !default;
 $btn-border-width: 1px !default;

 $btn-cursor-disabled: default !default;
 $btn-active-box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !default;
 $btn-border-radius: $border-radius-base !default;

 $btn-padding-base-vertical: 8px !default;
 $btn-padding-base-horizontal: 8px !default;

 $btn-font-weight: normal !default;

 $btn-transition: all .3s ease !default;

 $btn-default-color:  $brand-primary !default;
 $btn-default-bg:     transparent !default;
 $btn-default-border: $brand-primary !default;

 $btn-primary-color:  #fff !default;
 $btn-primary-bg:     $brand-primary !default;
 $btn-primary-border: darken($btn-primary-bg, 5%) !default;

 $btn-success-color:  #fff !default;
 $btn-success-bg:     $brand-success !default;
 $btn-success-border: darken($btn-success-bg, 5%) !default;

 $btn-info-color:  #fff !default;
 $btn-info-bg:     $brand-info !default;
 $btn-info-border: darken($btn-info-bg, 5%) !default;

 $btn-warning-color:  #fff !default;
 $btn-warning-bg:     $brand-warning !default;
 $btn-warning-border: darken($btn-warning-bg, 5%) !default;

 $btn-danger-color:  #fff !default;
 $btn-danger-bg:     $brand-danger !default;
 $btn-danger-border: darken($btn-danger-bg, 5%) !default;


 $btn-default-extend: ".btn-default" !default;

$topbar-btn-color: #fff !default;
$topbar-btn-bg: transparent !default;
$topbar-btn-border: #fff !default;


 /**
  * Dropdown Component
  * TODO: hover effects and link color
  */

 $dropdown-menu-padding: 0 !default;
 $dropdown-menu-border: 0 !default;
 $dropdown-menu-border-radius: 2px !default;
 $dropdown-menu-box-shadow: 0 2px 13px rgba(0,0,0,.36), 0 0 0 1px rgba(0,0,0,.06) !default;
 $dropdown-menu-font-size: 14px !default;
 $dropdown-menu-item-padding: 8px 16px !default;
 $dropdown-menu-separator-border: $hr-border !default;
 $dropdown-menu-separator-font-size: 16px !default;
 $dropdown-menu-separator-text-color: #ccc !default;

 /**
  * Category Component
  */

 $category-padding-horizontal: 16px !default;

 /**
  * Category List Component
  */

 $category-list-link-padding:          $category-padding-horizontal !default;
 $category-list-link-font-size:        $font-size-h4 !default;
 $category-list-link-font-weight:      600 !default;
 $category-list-link-color:            #626567 !default;
 $category-list-link-hover-color:      #626567 !default;
 $category-list-link-background:       #F5F5F5 !default;
 $category-list-link-hover-background: darken(#F5F5F5, 5%) !default;
 $category-list-link-border-radius:    $border-radius-base !default;

/**
 * Footer
 */

 $footer-text-color:  #2d2d2d !default;
 $footer-link-color:  #2d2d2d !default;
 $footer-font-size:   14px !default;
 $footer-line-height: 1.1 !default;
 $footer-padding:     $line-height-computed 0 !default;

 /**
  * Footer Social Links
  */

 $footer-social-link-size:   20px !default;
 $footer-social-link-margin: 0 0 0 10px !default;
 $footer-social-link-color:  $footer-link-color !default;

 /**
  * Note
  */

$note-padding:      0 16px !default;
$note-border-width: 4px !default;
$note-icon-padding: 0 $padding-base-horizontal !default;
$note-icon-bg:      $body-bg !default;


/**
 * Intro Title
 */

$intro-title-color:  #fff !default;
$intro-title-margin: 0 0 ($line-height-computed * 2) 0 !default;

$question-topic-list-link-bg: $hr-border !default;
$question-topic-list-link-color: #fff !default;


/**
 * Help Center Name
 */

 $help-center-name-margin: 0 0 0 ($padding-base-horizontal / 2) !default;
 $help-center-name-color: #fff !default;

/**
 * Avatar
 */

 $avatar-border-radius: 100%  !default;

  /* Avatar variations */

 $user-avatar-size: 32px  !default;
 $avatar-topbar-size: 32px  !default;
 $avatar-article-size: 32px  !default;
 $avatar-comment-size: 32px  !default;
 $avatar-topbar-size: 32px  !default;
 $avatar-community-size: 32px  !default;

 $avatar-question-size: $avatar-community-size  !default;
 $avatar-answer-size:  $avatar-community-size  !default;

 $avatar-agent-icon-color: $brand-primary  !default;

 /**
  * Scroll To Top Component
  */

 $scroll-to-top-color: $brand-primary !default;
 $scroll-to-top-size: 48px !default;
 $scroll-to-top-font-size: 32px !default;
 $scroll-to-top-line-height: $scroll-to-top-size !default;
 $scroll-to-top-border-color: $brand-primary !default;
 $scroll-to-top-border: 2px solid $scroll-to-top-border-color !default;
 $scroll-to-top-border-radius: $border-radius-base !default;
 $scroll-to-top-transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !default;
 $scroll-to-top-z-index: 3 !default;

/**
 * Meta
 */

 $meta-font-size:        14px !default;

 $meta-text-color:       #757575 !default;
 $meta-link-color:       $meta-text-color !default;

 $meta-bullet-font-size: 10px !default;
 $meta-bullet-margin: 10px !default;


/**
 * Comments
 */

 $comment-padding: 0 0 0 ($avatar-comment-size + $padding-base-horizontal) !default;
 $comment-container-border: $hr-border-width dotted $hr-border !default;
 $comment-mark-as-solved-font-weight: 500 !default;

/**
 * Upload Dropzone
 */

 $upload-dropzone-padding: ($padding-large-vertical * 2) $padding-large-horizontal !default;
 $upload-dropzone-border: 1px dotted $hr-border !default;
 $upload-dropzone-border-radius: $border-radius-base !default;
 $upload-dropzone-icon-font-size: 64px !default;


/**
 * Error page
 */

 $error-page-padding: 0 !default;
 $error-page-title-font-size: 96px !default;


 /**
  * Satisfaction Box
  */

 $satisfaction-box-background: #eee !default;
 $satisfaction-box-padding: ($padding-base-vertical * 2) $padding-base-horizontal !default;
 $satisfaction-box-border-radius: $border-radius-base !default;
 $satisfaction-box-border: 1px solid $hr-border !default;
 $satisfaction-box-margin: 0 0  $line-height-computed 0 !default;


/**
 * Tabs
 */

 $tabs-nav-margin: 0 0 0 0 !default;

 $tabs-nav-item-padding: ($padding-base-vertical * 2) $padding-base-horizontal !default;
 $tabs-nav-item-bg: $hr-border !default;
 $tabs-nav-item-color: $text-color !default;
 $tabs-nav-item-border-radius: $border-radius-base !default;
 $tabs-nav-item-margin: 0 0 (-2 * $hr-border-width) 0 !default;
 $tabs-nav-item-link-color: lighten($text-color, 30%) !default;

 $tabs-sub-nav-item-padding: 0 !default;
 $tabs-sub-nav-item-bg: transparent !default;
 $tabs-sub-nav-item-color: $text-color !default;
 $tabs-sub-nav-item-border-radius: 0 !default;
 $tabs-sub-nav-item-margin: 0 $padding-base-horizontal 0 0 !default;
 $tabs-sub-nav-item-link-color: lighten($text-color, 30%) !default;

/**
 * Share
 */

 $share-button-size: 36px !default;
 $share-button-border-color: $hr-border !default;
 $share-button-border-radius: $border-radius-base !default;
 $share-button-background: $hr-border !default;

/**
 * Search Results
 */

 $search-result-margin: 0 0 $line-height-computed 0 !default;

 $search-result-link-font-size: $font-size-h4 !default;
 $search-result-link-margin: 0 0 ($line-height-computed / 4) 0 !default;

 $search-result-meta-color: $meta-text-color !default;
 $search-result-meta-link-color: $meta-text-color !default;
 $search-result-meta-margin: 0 0 ($line-height-computed / 4) 0 !default;

/**
 * Icon font icons
 */

 $icon-font: 'FontAwesome';
 $icon-visibiity-internal: "\f023";
 $icon-search-result-votes: "\f164";
 $icon-recent-activity-item-comment: "\f0e5";
 $icon-article-vote-up: "\f164";
 $icon-article-vote-down: "\f165";
 $icon-commnuity-new-post: "\f040";
 $icon-commnuity-vote-up: "\f106";
 $icon-commnuity-vote-down: "\f107";
 $icon-share-facebook: "\f09a";
 $icon-share-twitter: "\f099";
 $icon-share-linkedin: "\f0e1";
 $icon-share-googleplus: "\f0d5";
 $icon-attachments: "\f019";
 $icon-attachment-list: "\f0c6";
 $icon-avatar-agent: "\f19d";
 $icon-dropdown: "\f107";
 $icon-loader: "\f110";


 // Recent Activity
 //
 $recent-activity-item-parent-color: $text-color !default;

 // Loader

 $loader-font-size: $font-size-h3 !default;
 $loader-color: darken($gray-darker, 30%) !default;

/**
 * Article List
 */

 $article-promoted-icon-size: 12px !default;
 $article-promoted-icon-color: $brand-warning !default;

 $article-expanened-margin: ($line-height-computed / 2) 0 ($line-height-computed * 2) !default;



/**
 * Pagination
 */

 $pagination-color:                     $link-color !default;
 $pagination-bg:                        #fff !default;
 $pagination-border:                    #ddd !default;

 $pagination-hover-color:               $link-hover-color !default;
 $pagination-hover-bg:                  $gray-lighter !default;
 $pagination-hover-border:              #ddd !default;

 $pagination-active-color:              #fff !default;
 $pagination-active-bg:                 $brand-primary !default;
 $pagination-active-border:             $brand-primary !default;


/**
 * Custom blocks
 */

$custom-block-title-color:     #333 !default;
$custom-block-image-bg:        #f2f2f2 !default;
$custom-block-file-color:      #EE9920 !default;
$custom-block-lightbulb-color: #7BA705 !default;
$custom-block-envelope-color:  #60B8CD !default;
$custom-block-community-color: #d9534f !default;

/**
 * Hero Unit
 */

 $hero-unit-margin: 0 0 ($line-height-computed * 2) 0 !default;


/**
 * Page Header
 */

 $page-header-border: $hr-border-width dotted $hr-border !default;
 $page-header-margin: 0 0 $line-height-computed !default;

 $page-description-margin: 0 0 $line-height-computed 0 !default;
 $page-description-color: lighten($text-color, 40%) !default;

/**
 * Menu Button
 */

 $menu-button-size : 2rem !default;
 $menu-button-color : #fff !default;
 $menu-button-padding: ($menu-button-size / 2 ) ($menu-button-size / 4) !default;
 $menu-button-border-radius: ($menu-button-size / 15) !default;
 $menu-button-transition: .3s !default;// increase this to see the transformations happen in slow motion

/*
   Search Query
   ========================================================================== */

$search-query-border:            none !default;
$search-query-border-radius:     50px !default;
$search-query-text-color:        #333 !default;
$search-query-placeholder-color: #A5A1A1 !default;
$search-query-height:            60px !default;



$search-query-bg:                 transparent !default;
$search-query-shadow:             inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten(#fff, 20%) !default;
$search-query-padding:            0 55px 0 (55px + ($padding-base-horizontal)) !default;






/*
   Search box
   ========================================================================== */

$search-box-background:    transparent !default;
$search-box-border:        none !default;
$search-box-border-radius: none !default;
$search-box-padding:       0 !default;

$search-icon-color:     #2B3D4E !default;
$search-icon-font-size: 20px !default;


/*
   Article Vote
   ========================================================================== */

$article-vote-size:             32px !default;
$article-vote-border-radius:    50% !default;
$article-vote-border-color:     #444 !default;

$article-vote-padding: ($padding-base-vertical * 4) 0 !default;
$article-footer-padding: $line-height-computed 0 0 !default;


$vote-width: 40px !default;

$community-col: ($avatar-community-size + $padding-base-horizontal) !default;

$section-header-button-col-padding: 32px 0 0 0 !default;



//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            ($padding-base-vertical * 2) 0 $padding-base-vertical $padding-base-horizontal !default;

$table-condensed-cell-padding:  5px !default;

$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            #ddd !default;


//** Default background color used for all tables.
$table-bg:                      transparent !default;

$profile-header-bg:  #eff0f2 !default;
$profile-header-text-color: $text-color !default;
$profile-header-name-color: $text-color !default;

$profile-private-badge-bg:  $brand-primary !default;

$profile-stats-text-color:  $meta-text-color !default;
$profile-stats-value-color: $text-color !default;

$edit-profile-color:  $brand-primary !default;
$edit-profile-bg:     transparent !default;
$edit-profile-border: $btn-primary-border !default;
